<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shoppingapp/style.css' %}">
    <title>Neuer Eintrag</title>
</head>
<body>

  <div class="container text-white p-5 text-center">
    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-handbag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 1a2 2 0 0 0-2 2v2h4V3a2 2 0 0 0-2-2zm3 4V3a3 3 0 1 0-6 0v2H3.361a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.356a2.5 2.5 0 0 0 2.472-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 0 0 1 0V6h4z"/>
    </svg>
    <h1 class="display-4 p-3">Neues Produkt hinzufügen</h1>
  </div>

  <div class='row justify-content-md-center p-2'>
    <div class="col-lg-5 p-4 bg-white rounded shadow-sm">
      <div class='row justify-content-md-center p-4'>
        
        <form action="{% url 'shoppingapp:new_item' %}" method="post">
        {% csrf_token %}
          <div class='row'>
            <div class='col'>
              <label>Name</label></br><input type="text" name="name">
            </div>
            <div class='col'>
              <label>Quantity</label><input type="number" name="quantity">
            </div>
          </div>
          <div class='row mt-3'>
            <div class='col'>
              <label>Price</label></br><input type="number" step="0.01" name="price">
            </div>
            <div class='col'>  
              <label>Shoppingliste</label></br>
              <select name="shoppinglist">
                {% for item in shoppinglists %}
                <option value="{{item.id}}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <input type="submit" class="btn mt-4" value="Anlegen">
        </form>
      </div>
    </div>
  </div>


</body>
</html>